{% extends "base.html" %}
{% load bootstrap %}

{% block title %} Food Waste Control - Cadastrar Usuário {% endblock %}

<!-- BREADCRUMB-->
<section class="au-breadcrumb2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="au-breadcrumb-content">
                    <div class="au-breadcrumb-left">
                        <span class="au-breadcrumb-span">Você está aqui:</span>
                        <ul class="list-unstyled list-inline au-breadcrumb__list">
                            <li class="list-inline-item active">
                                <a href="#">Usuários</a>
                            </li>
                            <li class="list-inline-item seprate">
                                <span>/</span>
                            </li>
                            <li class="list-inline-item">Cadastrar</li>
                        </ul>
                    </div>
                    <form class="au-form-icon--sm" action="" method="post">
                        <input class="au-input--w300 au-input--style2" type="text" placeholder="Pesquisar">
                        <button class="au-btn--submit2" type="submit">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END BREADCRUMB-->

{% block conteudo %}

<div class="col-lg-8">
    <div class="card">
        <div class="card-header">
            <strong>Cadastrar Usuário</strong>
        </div>
        <div class="card-body card-block">
            <form method="post" class="form-horizontal">
                {% csrf_token %}
                <label for="">Usuário: </label>
                {{ form.username }}
                <br>
                <label for="">Senha: </label>
                {{ form.password1 }}
                <br>
                <label for="">Confirmar senha: </label>
                {{ form.password2 }}
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Salvar
                    </button>
                    <a href="{% url 'usuario_list'%}" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}